@font-face {
  font-family: "Eina01-Bold";
  src: url("/fonts/Eina01-Bold/Web Fonts/2d57f676e3d6955778fb8acac0176b9a.woff2") format("woff2"),
       url("/fonts/Eina01-Bold/Web Fonts/2d57f676e3d6955778fb8acac0176b9a.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina01-Regular";
  src: url("/fonts/Eina01-Regular/Web Fonts/1868e326d3ee28e5395f6efa2bc037bf.woff2") format("woff2"),
       url("/fonts/Eina01-Regular/Web Fonts/1868e326d3ee28e5395f6efa2bc037bf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina01-SemiBold";
  src: url("/fonts/Eina01-SemiBold/Web Fonts/032d6b2c34344e22d2cbca6b7050d642.woff2") format("woff2"),
       url("/fonts/Eina01-SemiBold/Web Fonts/032d6b2c34344e22d2cbca6b7050d642.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
* {
  font-family: "Eina01-Regular", sans-serif !important;
}

.font-normal {
  font-family: "Eina01-Regular", sans-serif !important;
}

.font-semibold,
.r-font-semibold {
  font-family: "Eina01-SemiBold", sans-serif !important;
}

.font-bold,
.r-font-bold,
.r-font-black {
  font-family: "Eina01-Bold", sans-serif !important;
}